@font-face {
   font-family: 'Reem Kufi';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/github/minecraftwpps.github.io/fonts/Reem Kufi/regular.ttf') format('truetype');
}
